@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;1,300&display=swap");

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  top: 0;
  width: 100%;
  background-color: darkblue;
  color: white;
  padding: 0.5rem;
  text-align: center;
}

.new-task-container {
  margin: 0 auto;
  position: relative;
  width: 30%;
  background-color: white;
  box-shadow: 1px 1px 1px 1px #ccc;
  margin-top: 1rem;
  padding: 1rem;
}

.new-task-container h2 {
  margin: 0;
  padding: 0.5rem;
}

input {
  border: none;
  padding: 0.2rem;
  width: 50%;
  box-shadow: 1px 1px 5px 1px #ccc;
  text-align: center;
  padding: 0.4rem 0.1rem 0.1rem 0.1rem;
  font-size: 1.5rem;
  width: 100%;
}

input:focus {
  outline: none;
}

.addBtn {
  padding: 0.8rem;
  background-color: darkblue;
  color: white;
  background: linear-gradient(to left, darkblue 50%, #0066ff 50%) right;
  background-size: 200%;
  margin-top: 1rem;
  width: 100%;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  transition: all 1s;
}
.addBtn:hover {
  background-position: left;
}

.task {
  margin: 0 auto;
  width: 30%;
  box-shadow: 1px 1px 1px 1px #ccc;
  padding: 1rem;
  position: relative;
}

.close {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0.3rem;
}

.warn {
  background-color: yellow;
  color: black;
  position: relative;
  text-align: center;
  padding: 0.5rem;
}
